[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "*"
selenium = "*"
lti = "*"
Flask-Security = "*"
Flask-Login = "*"
quart = "*"

[dev-packages]

[requires]
python_version = "3.9"
