{% extends 'base.html' %}

{% block title %}Log #{{log._id}}{% endblock %}
{% block head %}
<link href="static/css/prism.css" rel="stylesheet">
<style>

.msg_pre, code {
    max-width: auto !important;
    white-space: pre-wrap !important;
}

.log_message {
    max-width: 60vw;
}

</style>
{% endblock %}
{% block content %}
<div>
    <table id="log_info" class="table table-sm">
        <tr>
            <th>Id</th>
            <td>{{log._id}}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ log.time }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ log.pathname }}</td>
        </tr>
        <tr>
            <th>Lineno</th>
            <td>{{ log.lineno }}</td>
        </tr>
        <tr>
            <th>Levelname</th>
            <td>{{ log.levelname }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td class="log_message">{{ log.message }}</td>
        </tr>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="static/js/json5.min.js"></script>
<script src="static/js/prism.js"></script>
<script>
    let logs_msg = $('.log_message').html();
    console.log(logs_msg);
    logs_msg = logs_msg.replace(/[False|True]/gi, function(i){
                return i.toLowerCase();
    }).replace(/None/g, 'null')
    .replace(/[<|>]/g, '')
    .replace(/\{.*\}/, function (x) {
        try {
            x = JSON5.parse(x);
        } catch {
            return x;
        }
        return `<code>${JSON5.stringify(x, null, "\t")}</code>`;
    });
    $('.log_message').html(`<pre class="language-json5 msg_pre"> ${ logs_msg}</pre>`);
    
</script>
{% endblock %}