<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Web ASM{% endblock %}</title>
        <base href="/">

        <link href="static/img/favicon.png" rel="icon" type="image/png">


        <link href="static/css/base.css" rel="stylesheet" type="text/css" />
        <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    
        {% block head %}
        {% endblock %}
  
    </head>
    <body onload="fonload();">
        {% include 'header.html' %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/index.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>