{% extends 'base.html' %}

{% block title %}Web ASM{% endblock %}

{% block content %}
    <div id='task_info_div'>
    </div>

    <div id='main_div'>

        <div id='left_main_div' style="float: left; width: 60%;">
            
            <br><br>
            
            <textarea id='code' class='code' >{{ text }}</textarea>

        </div>

        <div id='right_main_div' style="float: right; width: 20%;">
            <div id='register_table_div'>
                <b>Регистры</b>
                <table id='register_table' class="table">
                    <thead>
                        <tr>
                            <td>Register</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R1</td>
                            <td>0x0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id='stack_table_div'>
                <b>Стек</b>
                <table id='stack_table' class="table">
                    <tbody>
                        <tr>
                            <td>0x0000</td>
                            <td>0000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
