{% extends 'base.html' %}

{% block title %}Web ASM{% endblock %}

{% block content %}
    <div id='task_info_div' style="float: left; width: 60%;">
        <p>Some info about task. Probably, it can be condition.</p>
        <div style="display: block; float: right;">
        	<input type="button" class="btn btn-info" name="Check" value="Check" onclick="buttonClick(this)" />
        	<input type="button" class="btn btn-success" name="My solutions" value="My solutions" onclick="buttonClick(this)" />
        </div>
    </div>

    <div id='main_div'>

        <div id='left_main_div' style="float: left; width: 60%;">

        	<hr></hr>
            <input type="button" class="btn btn-outline-success" name="Run" value="Run" onclick="buttonClick(this)" />
            <input type="button" class="btn btn-outline-warning" name="Debug" value="Debug" onclick="buttonClick(this)" />
            <input type="button" class="btn btn-outline-info" name="Continue" value="Continue" onclick="buttonClick(this)" />
            <input type="button" class="btn btn-outline-info" name="Step into" value="Step into" onclick="buttonClick(this)" />
            <input type="button" class="btn btn-outline-info" name="Step over" value="Step over" onclick="buttonClick(this)" />
            <input type="button" class="btn btn-outline-info" name="Step out" value="Step out" onclick="buttonClick(this)" />
            <br><br>
            <link href="static/css/codemirror.min.css" rel="stylesheet" type="text/css" />
            <link href="static/css/eclipse.css" rel="stylesheet" type="text/css" />

            <script src="static/js/codemirror.min.js"></script>
            <script src="static/js/gas.min.js"></script>
            <script src="static/js/shell.min.js"></script>
                
            <form><textarea id='code' class='code'>Some code here.</textarea></form>


            <input type="button" class="btn btn-outline-secondary" name="Open binary in HEX view" value="Open binary in HEX view" onclick="buttonClick(this)" />
            <input type="button" class="btn btn-outline-secondary" name="Compile" value="Compile" onclick="buttonClick(this)" />
            <br><br>
            
            <textarea id='build_log' class='build_log' readonly>Some error output.</textarea>
            <script src="static/js/build_log.js"></script>
            <script src="static/js/editor.js"></script>

        </div>

        <div id='right_main_div' style="float: right; width: 20%;">
            <div id='register_table_div'>
                <b>Регистры</b>
                <table id='register_table' class="table">
                    <thead>
                        <tr>
                            <td>Register</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody id="register_body"></tbody>
                </table>
            </div>

            <div id='stack_table_div'>
                <b>Стек</b>
                <table id='stack_table' class="table">
                    <thead>
                        <tr>
                            <td>Stack</td>
                            <td>Stack frame</td>
                        </tr>
                    </thead>
                    <tbody id="stack_body"></tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
