{% extends 'base.html' %}

{% block title %}Web ASM{% endblock %}

{% block content %}
    <div id='task_info_div' style="float: left; width: 60%;">
        <h3>Solution{{ id }}</h3>
        <p>Some info about task. Probably, it can be condition.</p>
        <div style="display: block; float: right;">
        	<a type="button" class="btn btn-primary" href="/check">Check</a>
        	<a type="button" class="btn btn-secondary" href="/solutions">My solutions</a>
        </div>
    </div>

    <div id='main_div'>

        <div id='left_main_div' style="float: left; width: 60%;">

        	<hr></hr>
            
            <a type="button" class="btn btn-primary" href="/run_code">Run</a>
            <a type="button" class="btn btn-secondary" href="/debug">Debug</a>
            <button type="button" class="btn btn-info">Continue</button>
            <button type="button" class="btn btn-primary">Step into</button>
            <button type="button" class="btn btn-secondary">Step over</button>
            <button type="button" class="btn btn-info">Step out</button>
            
            <br><br>
            
            <textarea id='code' class='code' >Some info about solution</textarea>

            <a type="button" class="btn btn-primary" href="/hex_view">Open binary in HEX view</a>
            <a type="button" class="btn btn-secondary" href="/compile">Compile</a>

            <textarea id='build_log' class='build_log' readonly>Some build log error here.</textarea>
        </div>

        <div id='right_main_div' style="float: right; width: 20%;">
            <div id='register_table_div'>
                <b>Регистры</b>
                <table id='register_table' class="table">
                    <thead>
                        <tr>
                            <td>Register</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R1</td>
                            <td>0x0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id='stack_table_div'>
                <b>Стек</b>
                <table id='stack_table' class="table">
                    <tbody>
                        <tr>
                            <td>0x0000</td>
                            <td>0000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
