{% extends 'base.html' %}

{% block title %}System information{% endblock %}

{% block content %}
<style>
    .solution-header{
        border: 5px solid #b9b9b9;
        border-radius: 20px;
        text-align: center;
        font-size: xx-large;
        margin: 50px;
    }
    .block-content{
        border: 2px solid #b9b9b9;
        border-radius: 20px;
        text-align: left;
        font-size: x-large;
        margin: 50px;
        padding: 20px;
    }
    .mybutton{
        font-size: x-large;
        text-align: center;
    }
</style>

<div class="solution-header">Информация о системе</div>
<div class="mybutton">
    Обновить <button type="button" class="btn btn-outline-primary">⟳</button>
</div>
<div class="block-content">
    <pre id="top-information">
        {{data}}
    </pre>
</div>

{% endblock %}

{% block script %}
<script src="static/js/adminview.js"></script> 
{% endblock %}