{% extends 'base.html' %}

{% block title %}Web ASM{% endblock %}

{% block head %}
    <link href="/static/css/libs/codemirror.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/libs/eclipse.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% if problem %}
    <div id='task_info_div' style="float: left; width: 50%;">
        <h4>
        {% if problem.course_name %}
            <small class="text-muted">{{ problem.course_name }} /</small>
        {% endif %}
        {{ problem.title }}
        </h4>
        {% if problem.statement %}
            <p>{{ markdown_statement|safe }}</p>
        {% else %}
        <p>
            <em>No problem description yet...</em>
        </p>
        {% endif %}
        <div>
        {% if problem.checker_name %}
        	<button type="button" class="btn btn-primary" id="submit_button">Check</button>
        	<a href="{{ url_for('view_submissions', assignment_id=assignment.id) }}" class="btn btn-secondary">My submissions</a>
        {% endif %}
        {% if current_user.is_admin or assignment.is_instructor %}
            <a href="{{ url_for('admin_problem_edit', problem_id=problem.id, next=url_for('view_assignment', assignment_id=assignment.id)) }}" class="btn btn-secondary">Edit</a>
            <a href="{{ url_for('admin_problem_submissions', problem_id=problem.id) }}" class="btn btn-secondary">Grades</a>
        {% endif %}
        </div>
    </div>
{% endif %}
    <div id='main_div'>
        <div id='left_main_div' style="float: left; width: 68%;">
        {% if problem %}
        	<hr />
        {% endif %}
            <div id='ajax-alert'></div>

{% if sample_test %}
            Input:
            <textarea id="sample_test" class="sample_test" rows="1">{{ sample_test }}</textarea>
{% endif %}
            <div id="debug-buttons"></div>
            <br />

            <form><textarea id="code" class="code" >{{ assignment.source_code }}</textarea></form>
            <br />

            <textarea id='build_log' class='build_log' readonly></textarea>
        </div>

        <div id="right_main_div" style="float: right; width: 30%;">
            <div id="watch_table_div">
                <b>Watch</b>
                <table id="watch_table" class="index_table">
                    <thead>
                        <tr>
                            <th>expr</th>
                            <th>value</th>
                        </tr>
                    </thead>
                    <tbody id="watch_body"></tbody>
                </table>
            </div>

            <div id="register_table_div">
                <b>Registers</b>
                <table id="register_table" class="index_table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>signed</th>
                            <th>unsigned</th>
                            <th>hex</th>
                        </tr>
                    </thead>
                    <tbody id="register_body">
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <form id="hidden_form" hidden><textarea id="hidden_textarea"></textarea></form>
{% endblock %}


{% block script %}
    <script src="/static/js/libs/codemirror.min.js"></script>
    <script src="/static/js/libs/gas.min.js"></script>

    <script>
        const assignmentId = {{ assignment.id }};
        const csrfToken = "{{ csrf_token() }}";
    </script>
    <script src="/static/js/ide.js"></script>
{% endblock %}
