{% extends 'base.html' %}

{% block title %}Web ASM{% endblock %}

{% block head %}
    <link href="static/css/libs/codemirror.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/libs/eclipse.css" rel="stylesheet" type="text/css" />
    <link href="static/css/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- {{code|safe}} -->
    {% set code = code or dict(code='', arch='x86_64', breakpoints=[]) %}
    <div id='task_info_div' style="float: left; width: 60%;">
        {% if task %}
        <p>{{task.name}}: {{task.description}}</p>
        {% else %}
        <p>TODO: problem statement</p>
        {% endif %}
        <div style="display: block; float: right;">
        	<input type="button" id="check-button" class="btn btn-info" name="Check" value="Check" onclick="buttonClick(this)" />
        	<input type="button" class="btn btn-success" name="My solutions" value="My solutions" onclick="buttonClick(this)" />
        </div>
    </div>

    <div id='main_div'>
        <div id='left_main_div' style="float: left; width: 78%;">
        	<hr />
            <br>
            <div id='ajax-alert'></div>
            <select id='arch_select' name='arch' autocomplete="off">
                {% for arch in config['ARCHS'] %}
                    {% if arch != code.arch %}
                    <option value={{arch}}>{{arch}}</option>
                    {% else %}
                    <option selected value={{code.arch}}>{{code.arch}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div id="debug-buttons"></div>
            <br><br>
                
            <form><textarea id='code' class='code' >{{ code['code'] }}</textarea></form>

            <br>
            <div id="lastSave" style="text-align: right; float: right;">
                {% if 'last_update' in code %}
                    {% set time = code['last_update'] %}
                    Created by
                    <span id="createdByUser">
                        {{current_user.username}}
                    </span>
                    (Last edit:
                    <span id='lastSavedTime'>
                        <script language="javascript" type="text/javascript">
                            const lastDate = new Date({{time}}*1000);
                            document.write((lastDate.getDate() > 9 ? lastDate.getDate() : '0' + lastDate.getDate()) + '.' + ((lastDate.getMonth() + 1) > 9 ? (lastDate.getMonth() + 1) : '0' + (lastDate.getMonth() + 1)) + '.' + lastDate.getFullYear() + ' ' + (lastDate.getHours() > 9 ? lastDate.getHours() : '0' + lastDate.getHours()) + ':' + (lastDate.getMinutes() > 9 ? lastDate.getMinutes() : '0' + lastDate.getMinutes()) + ':' + (lastDate.getSeconds() > 9 ? lastDate.getSeconds() : '0' + lastDate.getSeconds()) + ')');
                        </script>
                    </span>
                {% endif %}
                </div>
            <button id="hex-view" class="btn btn-outline-secondary">Open binary in HEX view</button>
            <br><br>
            
            <textarea id='build_log' class='build_log' readonly></textarea>
        </div>

        <div id='right_main_div' style="float: right; width: 20%;">
            <div id='register_table_div'>
                <b>Регистры</b>
                <table id='register_table' class="table index_table">
                    <thead>
                        <tr>
                            <td>Register</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody id="register_body"></tbody>
                </table>
            </div>

            <div id='stack_table_div'>
                <b>Стек</b>
                <table id='stack_table' class="table index_table">
                    <thead>
                        <tr>
                            <td>Stack</td>
                            <td>Stack frame</td>
                        </tr>
                    </thead>
                    <tbody id="stack_body"></tbody>
                </table>
            </div>
        </div>

    </div>

    <form id="hidden_form" hidden><textarea id="hidden_textarea"></textarea></form>

{% endblock %}


{% block script %}
    <script src="static/js/libs/codemirror.min.js"></script>
    <script src="static/js/libs/gas.min.js"></script>
    <script src="static/js/libs/shell.min.js"></script>
    <script src="static/js/libs/jquery.md5.min.js"></script>

    <script src="static/js/ide.js"></script>
{% endblock %}
