{% extends 'base.html' %}

{% block head %}
    <link href="static/css/solutions.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}


<div class="py-5 text-center" onload="console.log('{{ id }}')">
    <table class="solutions_table sortable" >
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col"></th>
                    <th scope="col">Session</th>
                </tr>
            </thead>
            {% for line in solutions %}
                {% if line[1]==id or id==-1%}
            <tr>
                <th>{{ line[0] }}</th>
                <td>{{ line[2] }}</td>
                <td>
                    <button type="button" class="btn btn-primary" style="border-radius: 20px"
                            onclick="location.href='{{ "/solutions/"+line[3] }}'">
                        View solution
                    </button>
                </td>
                <td>
                    <a href="">
                        {{ line[4] }}
                    </a>
                </td>
            </tr>
                {% endif %}
            {% endfor %}
        </table>
</div>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}
