{% extends 'base.html' %}

{% block head %}
    <link href="static/css/solutions.css" rel="stylesheet" type="text/css" />
    <script src="static/js/solutions.js"></script>
{% endblock %}

{% block content %}

<div class="py-5 text-center" >

    <table class="solutions_table" >
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Task ID</th>
                <th scope="col">Feedback</th>
                <th scope="col"></th>
                <th scope="col">Session</th>
            </tr>
        </thead>
        {% for line in solutions %}
            <tr>
                <th>{{ line.id }}</th>
                <td>{{ line.datetime }}</td>
                <td>{{ line.task.id }}</td>
                {% if line.feedback != "Passed!" %}
                    <td style="color:red">{{ line.feedback }}</td>
                {% else %}
                    <td style="color:green">{{ line.feedback }}</td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-primary" style="border-radius: 20px"
                            onclick="location.href='{{ "/solutions/"+line.id }}'">
                        View solution
                    </button>
                </td>
                <td>
                    <a href="">
                        {{ line.LTI_session }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% for i in range(0,pages) %}
        {% if i!=cur_page %}
            <a onclick="reload_with_parameters(this,page={{ i }},task_id={{ task_id }})" href="">{{ i+1 }}</a>
        {% else %}
            <a>{{ i+1 }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

