{% extends 'base.html' %}
  {% block head %}
      <link href="static/css/tasks.css" rel="stylesheet" type="text/css" />
  {% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div class="py-5 text-center">
    <div>
        <div style="padding: 20px">
            <input id="find_id">
            <button type="button" class="btn btn-primary" style="border-radius: 20px" onclick="find_by_id()">Find</button>
        </div>
        <table class="task_table" >
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Task</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Success amount</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for task in tasks %}
            <tr>
                <th>{{ task._id }}</th>
                <td>{{ task.name }}</td>
                <td>{{ task.difficulty }}</td>
                <td>x{{ task.success }}</td>
                <td>
                    <div style="display: flex; justify-content: center; gap: 10px">
                        <button type="button" class="btn btn-primary" style="border-radius: 20px" onclick="show( {{ task._id }} )">View</button>
                        <button type="button" class="btn btn-success" style="border-radius: 20px" onclick="show_edit({{ task._id }})">Edit</button>
                        <form method="post" action="/tasks/remove/{{ task._id }}">
                            <button type="submit" class="btn btn-danger" style="border-radius: 20px" >Delete</button>
                        </form>
                        <button type="button" class="btn btn-secondary" style="border-radius: 20px"
                                onclick="location.href='solutions?task_id={{ task._id  }}'">
                            View solutions
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button type="button" class="btn btn-secondary" style="border-radius: 20px" onclick="add_task()">Add new</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="view_info" style="display: none">
    <button class="btn btn-secondary close_button" style="font-weight: bold" onclick="hide()">X</button>
    <div class="view_content">
        <div class="overflow-auto view_scroll">
            <h1 id="task_id">#</h1>
            <h2 id="task_name" style="word-break: break-all; text-align: center"></h2>
            <h4 id="task_difficulty" style="align-self: end">Difficulty:</h4>
            <h4 id="task_success" style="align-self: end">Success amount:</h4>
            <hr></hr>
            <h3 style="align-self: start">Description:</h3>
            <p id="task_description" style="width: 100%; word-break: break-all"></p>
            <div style="display: flex;">
                <h4 style="flex: 50%;padding: 10px;">Registers:</h4>
                <h4 style="flex: 50%;padding: 10px;">Stack:</h4>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center; gap: 2%">
                <div id="registers" class="registers_stack_scroll">

                </div>
                <div id="stack" class="registers_stack_scroll">

                </div>
            </div>
            <button class="btn btn-secondary " style="font-weight: bold; margin: 10px">Solve</button>
        </div>

    </div>
</div>

<div id="edit_info" style="display: none">
    <button class="btn btn-secondary close_button" style="font-weight: bold" onclick="hide_edit()">X</button>
    <div class="view_content">
        <form id="form_edit" class="view_scroll" method="post">
            <h1 id="edit_id" ></h1>
            <div style="align-self: end; display: flex;">
                <h4>Title:</h4>
                <input type="text" id="edit_name" name="edit_name" style="word-break: break-all; text-align: center" required>
            </div>
            <div style="align-self: end; display: flex;">
                <h4>Difficulty:</h4>
                <input id="edit_difficulty" name="edit_difficulty" type="number" min="1" max="5" required>
            </div>
            <h4 id="edit_success" style="align-self: end">Success amount: 0</h4>
            <hr></hr>
            <h3 style="align-self: start">Description:</h3>
            <textarea id="edit_description" name="edit_description" required></textarea>
            <div style="display: flex;">
                <h4 style="flex: 50%;padding: 10px;">Registers:</h4>
                <h4 style="flex: 50%;padding: 10px;">Stack:</h4>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center; gap: 2%">
                <div id="edit_registers" class="registers_stack_scroll">

                </div>
                <div id="edit_stack" class="registers_stack_scroll">

                </div>
            </div>
            <button type="submit" class="btn btn-success " style="font-weight: bold; margin: 10px">Save</button>
        </form>
    </div>
</div>
<div class="btn-group">
    {% for page in range(pages) %}
        <button value={{page + 1}} onclick="window.location.replace(`/tasks?page=${this.value}`);" class="btn btn-outline-primary" style="margin: 2px;">{{page + 1}}</button>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="static/js/tasks.js"></script>
{% endblock %}
