.solutions_table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 2px lightblue;
}
table,td, tr, th{
    border: 2px solid lightblue;
    border-radius: 20px;
    padding: 4px;
}
