{% extends 'base.html' %}


{% block content %}
{% set active_page = "admin_lms" %}
{% include "pages/admin/nav.html" %}

<p>To connect to a learning management system you'll need the following information:</p>

<ul>
    <li>
        LTI version: <code>LTI 1.0/1.1</code>
    </li>
    <li>
        Tool URL: <code>{{ tool_url }}</code>
    </li>
    <li>
        Consumer key: <code>{{ consumer_key }}</code>
    </li>
    <li>
        Shared secret: <code>{{ consumer_secret }}</code>
    </li>
</ul>

<p>The LMS will appear in the table below after the first launch of the tool.</p>

{% if tool_consumers %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Instance id</th>
            <th scope="col">Instance name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for tool_consumer in tool_consumers %}
        <tr>
            <td scope="row">{{ tool_consumer.id }}</td>
            <td>{{ tool_consumer.instance_id }}</td>
            <td>{{ tool_consumer.instance_name }}</td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<p>No tool consumers configured.</p>

{% endif %}

{% endblock %}
