{% extends 'base.html' %}

{% block head %}
    <link href="/static/css/libs/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% set active_page = "admin_users" %}
{% include "pages/admin/nav.html" %}

<table class="table" id="users-table">
    <thead>
        <tr>
            <td scope="col">#</td>
            <td scope="col">Name</td>
            <td scope="col">Email</td>
            <td scope="col">LMS</td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td scope="row">{{ user.id }}</td>
            <td>{{ user.full_name }} {% if user.id == current_user.id %}<strong>(you)</strong>{% endif %}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.tool_consumer.instance_name }}</td>
            <td>
                {% if user.id != current_user.id %}
                    <form method="POST"
                        action="{{ url_for('admin_user_delete', user_id=user.id) }}"
                        onsubmit="return confirm('Are you sure you want to delete the user? This action cannot be undone.');"
                        style="display: inline"
                    >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}
    <script src="/static/js/libs/jquery.dataTables.min.js"></script>
    <script src="/static/js/libs/dataTables.bootstrap5.min.js"></script>
    <script>
        $("#users-table").DataTable();
    </script>
{% endblock %}
