<div id="header">
    <div id='header'>
        <a id="index_link" href="{{ url_for('index') }}">Index</a>
        {% if current_user.is_admin %}
            <a href="{{ url_for('admin.index') }}">Admin</a>
        {% endif %}
        <div id="auth_user" style="text-align:right; float:right">
            {% if current_user.is_authenticated %}
                {{ current_user.full_name }} <a href="{{ url_for('logout') }}">logout</a><br />
            {% else %}
                <a href="{{ url_for('login') }}">Log in</a>
            {% endif %}
        </div>
    </div>
    <hr />
</div>
